body {
	margin: 0;
	font-family: arial, sans-serif;
}
a {
	text-decoration: none;
	color: #000;
	font-size: 0.8em;
}
a:hover {
	text-decoration: underline;
}
.navigation ul {
	list-style-type: none;
	margin: 20px 20px 0 0;
	padding: 0;
	text-align: right;
}
.navigation li {
	display: inline;
}
.navigation a {
	padding: 2px 4px;
}
.main-container {
	margin-top: 50px;
}
#logo {
	margin: 0 auto;
	width: 400px;
	height: 218px;
}
#form-container {
	width: 522px;
	margin: 0 auto;
}
.buttons {
	text-align: center;
	padding-top: 20px;
}
#search {
	width: 500px;
	height: 32px;
	font-size: 1em; 
	padding: 2px 10px;
	border: 1px solid #DEDEDE;
}
#search:focus {
	outline-width: 0;
	border: 1px solid #00B3ED;
}
button {
	border-radius: 0%;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	color: #757575;
	padding: 10px 15px;
	font-family: arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	margin: 10px 5px;
	text-align: center;
}
button:hover {
	border: 1px solid #c6c6c6;
}

.footer {
	background-color: #f2f2f2;
	height: 40px;
	border-top: 1px solid #e2e2e2;
	position: fixed;
    bottom: 0;
    width: 100%;
}
.footer ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 0 10px 0;
}
.footer li {
	display: inline;
	padding: 15px;
}
.footer a {
	color: #757575;
}
#left-side {
	float: left;
	margin-left: 20px;
}
#right-side {
	float: right;
	margin-right: 20px;
}